- provide(:title, "Find the nearest room");
.container
  #map{:style=>'width: 100%; height: 300px; margin-top: 1%;'}
  .row{:style => 'text-align: center;'}
    .col-4
      %label
        Insert your radius:
      %input.form-control{:type => 'number', :step => '0.1', :id => 'radius', :value => '', :placeholder => 'Insert your radius...', :value => '5', :min => '0.1'}
    .col-4
      %label
        Find location: 
      .row
        .col-10#geocoder
        .col-2#geolocate.my-auto
    .col-4
      =label_tag 'Search room!'
      .row{:style => 'margin-top: -2px;'}
        .col-12
          %input.col-xs-6.form-control#searchbyname_form{:type => 'text-field'}
    
  %br
  .container.header.text-center
    %h5#num_rooms
  .container#listings
  
  :javascript
    $(document).ready(function(){
      render_map(buildObjectForMap('/dashboard.json', 0));
    });
  
		
