- provide(:title, "Find the nearest room");
.container
  .row#map{:style=>'width: 100%; height: 300px; margin-top: 1%;'}
  .row{:style => 'text-align: center;'}
    .col-4
      %label
        Insert your radius:
      %input.form-control{:type => 'number', :step => '0.1', :id => 'radius', :value => '', :placeholder => 'Insert your radius...', :value => '5'}
    .col-4{:style => "padding-left: 20px;padding-right: 0px;"}
      %label
        Find location: 
      %div{:style => 'display: flex;'}
        .col-10#geocoder
        .col-2#geolocate.my-auto
    =form_tag(map_path, method: :get) do
      =label_tag 'Search room!'
      .row{:style => 'margin-top: -2px;'}
        .col-9
          =text_field_tag :name, params[:name], class: 'col-xs-6 form-control', :id => 'searchbyname_form'
        .col-3
          =submit_tag 'Search', :name => nil, class: 'col-xs-6 btn btn-success', :onclick => 'updateByParam()'
    
  %br
  .container.header.text-center
    %h5#num_rooms
  .container#listings
  
  :javascript
    init('/map.json');
  
