%h1 SessionsOmniauth#create
%p Find me in app/views/sessions_omniauth/create.html.haml
= form_for(:session, url: login_path) do |f|
             
              = link_to "Home", "/login"
             
