!!!5
%html{:lang => "it"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Home Inline
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    .container-fluid
      .row
        .col-lg-12
          %center
            %h1 WELCOME TO INLINE APP
            %br
            =link_to login_path(@session) do   
              %input.btn.btn-success{:type => 'submit', :value => 'login'}/
            =link_to signup_path(@user) do   
              %input.btn.btn-primary{:type => 'submit', :value => 'signup'}/
            
            