
.container-fluid
    .row
    .col-lg-6
        %label
            %h2 USERNAME:
            = @user.username
        %br/
        %label  
            %h2 EMAIL
            = @user.email
    .col-lg-6
        %label
            %h2 ID
