!!!5
%html{:lang => "it"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Your Profile Inline
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    .container-fluid{:style => 'padding-left: 15%,padding-right:15%'}
      .row
        .col-lg-6
          %label
          %h2 USERNAME:
          = @user.username
          %br
          %label  
          %h2 EMAIL
          = @user.email
        .col-lg-6
          %label
          %h2 ID
          = @user.id
          %br
          %label
          %h2 REFERRAL LINK
          %h2
          http://inlineapp.com/#{@hashed}

