-provide(:title, @room.name)
%br
.container-fluid
  .page-header.media
    .media-body
      %h3.text-center.my-3
        =@room.name
       
      %p.text-center
        =@room.description
      
  .row
    .col-3.border-right
      /=link_to ".", url_for({:controller => 'rooms', :action => 'index_reservation', :id => @room.id}), method: :patch, remote: true, class: 'index-reservation'
      %h4.text-center.my-auto.border-bottom
        Info
      -if !has_no_location
        .row#map.mx-auto{:style=>'width: 100%; height: 200px; margin: 5%;'}
        %label
          Address:
        =@room.address
      
      
      %label.mx-auto
        Da:
      %input.text-center#dateEvent_from{:type => 'text'}
      %br
      %label.mx-auto
        A:
      %input.text-center#dateEvent_to{:type => 'text'}
      
      %h4.text-center.my-3

        Room host:
        
        %table.table
          %tbody
          -@room.powers.each do |p|
            %tr
              %td.text-center=link_to p.user.username, user_path(p.user)   
    .col-5 
      %h4.text-center.my-auto.border-bottom
        CODA
      %ul.list-group#userlist{:style => 'padding-top: 10px;'}
        
      .col.text-center#joindiv{:style => 'margin-top: 10px;'}
        -if can_i_reserve?
          -if can_delete?
            =render 'join'
          -else
            %button.btn.btn-danger{:disabled => ''}
              Tempo scaduto!
        -else
          -if do_i_have_powers?
            %button.btn.btn-danger{:disabled => ''} 
              You have powers!
          -else
            =render 'unjoin' 
      .col.text-center#reminderdiv{:style => 'margin-top: 10px;'}
        -if !current_user.nil? && current_user.reservations.exists?(room_id: @room.id)
          =render 'remind' 
        
      
        
   





    .col-3.border-left

      %h4.text-center.my-auto.border-bottom
        CHAT

      .div{:style=>"overflow-y:scroll; height: 100%;padding-bottom:10px;",:id=>"messages_div"}
        -@room.messages.each do |m|
          
        
          %p
            %strong
              
              =link_to User.find(m.user_id).username, user_path(m.user) 

            
            =m.body 
      = form_for(current_user.messages.build(room_id: @room.id), remote: true) do |f|
        = hidden_field_tag :room_id, @room.id
        .input-group.mb-3
          .form-group
            =f.text_field :body, class: "form-control",placeholder: "Insert your message...", autocomplete: "off",id:"chat_input"
            .input-group-append
              = f.button "Invia", class: "btn btn-primary btn-block"

    
    
      
    
         
:javascript
  
  
  
  var url = getRightUrl();
  
  $(document).ready(function(){
    //focusing last elements
    
    $(".index-reservation").click();
    getPartecipants();
    var room_json = init(url+'.json');
    if($('#map').length) {      
      render_map_for_room_show(url+'.json');
      $('.marker').hide();
    }
    
    var dateFrom = $("#dateEvent_from").flatpickr({ 
      enableTime: true,
      altInput: true,
      altFromat: "F j, Y",
      dateFormat: 'Y-m-d H:i',
      minDate: room_json.time_from,
      maxDate: room_json.time_from,
      defaultDate: room_json.time_from,
    });
    

    var dateFrom = $("#dateEvent_to").flatpickr({ 
      enableTime: true,
      altInput: true,
      altFromat: "F j, Y",
      dateFormat: 'Y-m-d H:i',
      minDate: room_json.time_to,
      maxDate: room_json.time_to,
      defaultDate: room_json.time_to
    })
  
  });
  
  function getRoomJSON(){
        var json = init(url+'.json');
        var array = [];
        for(var i = 0; i < json.reservations.length; i++){
          array[i] = json.reservations[i].user.username;
        }

    return array
  }
  
  function getPartecipants(){ 
    setInterval(function(){
      $(".index-reservation").click();
    }, 1000);
  }
