-provide(:title, @room.name)
.container-fluid{:style => 'padding-left: 15%; padding-right: 15%;'}
	
	.page-header.media
		.media-body
			%h3.text-center.my-3
				=@room.name
			 
			%p.text-center
				=@room.description
		-if do_i_matter?
			=link_to 'Edit room', edit_room_path	
	.row.body-room
		
		.col-3.border-right.fixed-size-room
			%h4.text-center.my-auto.border-bottom
				Info
			%h5.text-center.my-2
				Partecipanti massimi:
				=@room.max_participants
			-if !has_no_location
				.row#map.mx-auto{:style=>'width: 100%; height: 200px; margin: 5%;'}
				%label
					Address:
				=@room.address
			
			
			%label.mx-auto
				Da:
			%input.text-center#dateEvent_from{:type => 'text'}
			%br
			%label.mx-auto
				A:
			%input.text-center#dateEvent_to{:type => 'text'}
			
			%h4.text-center.my-3

				Room host:
				
				%table.table
					%tbody
					-@room.powers.each do |p|
						%tr
							%td.text-center
								=link_to p.user.username, user_path(p.user)   
		.col-6
			%ul.list-group.userlist#userlist.fixed-size-room
			
			-if @room.fifo
				#joindiv
					-if can_i_reserve?
						-if can_delete?
							=render 'join'
						-else
							%button.btn.btn-danger.btn-lg{:disabled => ''}
								Tempo scaduto!
					-else
						-if do_i_have_powers?
							%button.btn.btn-danger.btn-lg{:disabled => ''} 
								You have powers!
						-else
							=render 'unjoin' 
				#reminderdiv{:style => 'margin-top: 10px'}
					-if !current_user.nil? && current_user.reservations.exists?(room_id: @room.id)
						=render 'remind' 
		.col-3.border-left
			#messages{:style =>'overflow-y:scroll;height:70vh'}
			-if current_user
				= form_for([@room, Message.new], remote: true) do |f|
					= hidden_field_tag :user_id, current_user.id
					.input-group.mb-3
						=f.text_field :body, class: "form-control",placeholder: "Insert your message...", autocomplete: "off",id:"chat_input"
						.input-group-append
							= f.button "Invia", class: "btn btn-primary btn-block",id:"chat_btn"
			-else
				.input-group.mb-3
					%input#chat_input{:type => 'text', :placeholder => 'Insert your message...', :autocomplete => 'off'}
					.input-group-append
						%button.btn.btn-primary.btn-block{:disabled => ''}
							Disabled
					%small
						Log in and join the queue first!
:javascript
	var url = getRightUrl();
	var scroll= true;
	setRightUrl();
	
	$("#messages").scroll(function(e){
		//da capire se triggerato da umano o funzione
		scroll=false;
		//dopo 5 secondi ristora scroll al fondo
		//quando invia messaggio resetta l'input
	});
	
	$("#new_message").submit(function(e){
		e.preventDefault(); 
		this.submit();
		$("#chat_input").val("");
		$('#messages').load(url+'/messages');
	})
	$(document).ready(function(){
		
		
		refreshingPartial();
		getParticipants();
		scrollDown();
		
		var room_json = init(url+'.json');

		$("#dateEvent_from").flatpickr({ 
			enableTime: true,
			altInput: true,
			altFromat: "F j, Y",
			dateFormat: 'Y-m-d H:i',
			minDate: room_json.time_from,
			maxDate: room_json.time_from,
			defaultDate: room_json.time_from,
		});
		
		$("#dateEvent_to").flatpickr({ 
			enableTime: true,
			altInput: true,
			altFromat: "F j, Y",
			dateFormat: 'Y-m-d H:i',
			minDate: room_json.time_to,
			maxDate: room_json.time_to,
			defaultDate: room_json.time_to
		})

		if($('#map').length) {      
			render_map_for_room_show(url+'.json');
			$('.marker').hide();
		}

		
	});
	
	function getParticipants(){
		setTimeout(function(){
			refreshingPartial();
			getParticipants();
		}, 1000);

	}	
	function refreshingPartial(){
		setTimeout(function(){
			$('#userlist').load(url+'/reservations');
			$('#messages').load(url+'/messages');
			
			if (scroll){
				scrollDown();}
			
		}, 200);
	}

	function scrollDown(){
		

		$('#messages').stop().animate({scrollTop: $('#messages')[0].scrollHeight},100)
	}
	function setRightUrl(){
		if(document.URL.substr(-1) == '#') window.location = document.URL.slice(0,-1);
	}