@import 'bootstrap';
@import 'flatpickr';
@import 'mapbox-gl';

.card{
  width: 22%;
}

#geocoder{
  padding-bottom: 0px;
  margin-top: -1px;
}

#geolocate{
  margin-left: -0.5rem;
}


#radius{
  margin-top: -2px !important;
}

.mapboxgl-ctrl-geocoder{
  width:100%;
  height: 36px !important;
}

.mapboxgl-ctrl-geocoder{
  min-width: 260px;
  max-width: none;
}

.reservation_icon{
  height:24px;
  width:24px;
}

.body-room{
  height: 40rem;
}

.fixed-size-room{
  margin-top: 10px; 
  height: 35rem; 
  overflow-y:scroll;
}