// Place all the styles related to the mapbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mapbox-gl';
.card{
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.mapboxgl-ctrl-geocoder{
  width:100%;
  min-width: 260px;
  height: 36px !important;
}
