.navbar{
  background: white;
}
.navicon1{
  margin-top:1px;
  position:relative;
  height:26px;
  width:26px;
  margin-right: 20px;
}

.navicon2{
  position:relative;
  height:24px;
  width:24px;
  margin-right: 20px;
}


