.dashboard{:style=>"background-color:#f2f2f2;height:200px;"}  
  %h1 Admin's Dashboard
  .tools{:style=>"padding-left:10px;padding-top:10px;"}
    -if $should_be_offline==true
      %button.btn.btn-success Restore website 
    -else
      %button.btn.btn-danger Suspend website