%section#footer
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-5.mb-2.mb-sm-5
        %ul.list-unstyled.list-inline.social.text-center
          %li.list-inline-item
            %a{:href => "javascript:void();"}
              %i.fa.fa-facebook
          %li.list-inline-item
            %a{:href => "javascript:void();"}
              %i.fa.fa-twitter
          %li.list-inline-item
            %a{:href => "javascript:void();"}
              %i.fa.fa-instagram
          %li.list-inline-item
            %a{:href => "javascript:void();"}
              %i.fa.fa-google-plus
          %li.list-inline-item
            %a{:href => "javascript:void();", :target => "_blank"}
              %i.fa.fa-envelope

    .row.text-center.text-xs-center.text-sm-left.text-md-left
      .col-xs-12.col-sm-4.col-md-4
        %h5 Quick links
        %ul.list-unstyled.quick-links
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Home
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              About
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              FAQ
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Get Started
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Videos
      .col-xs-12.col-sm-4.col-md-4
        %h5 Quick links
        %ul.list-unstyled.quick-links
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Home
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              About
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              FAQ
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Get Started
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Videos
      .col-xs-12.col-sm-4.col-md-4
        %h5 Quick links
        %ul.list-unstyled.quick-links
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Home
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              About
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              FAQ
          %li
            %a{:href => "javascript:void();"}
              %i.fa.fa-angle-double-right>
              Get Started
          %li
            %a{:href => "https://wwwe.sunlimetech.com", :title => "Design and developed by"}
              %i.fa.fa-angle-double-right>
              Imprint
    
    .row
      .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-2.text-center.text-white
        %p
          %u
            %a{:href => "https://www.nationaltransaction.com/"} National Transaction Corporation
          is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]
        %p.h6
          \&copy All right Reversed.
          %a.text-green.ml-2{:href => "https://www.sunlimetech.com", :target => "_blank"} Sunlimetech