.container
  .row
    =image_tag("logo.png")
  
  .row
    =image_tag("queue_1.jpg") 
  %h1 Sorry about that...
  %h5 The website is currently offline until further notice
  %p 
    If you're an Admin you can 
    %a{:href => "/login"} Log in here
     
