Hey there #{@user.username},\n

Just a quick reminder that your event #{room.name} is coming up soon. 
Make sure you're there by #{room.time_from} .
   
      
 Have a great day!
    
  The Inline Team
