%html
  %head
    %body
    =image_tag("logo.png")
    %h2
      Hey there #{@user.username},
    %p
      Frankkkk
      %b 
        Hello darkenss my old friend
      %br/
    %p
      
    %p Have a great day!
    %br
    %b The Inline Team
